<h1> Welcome to My Angular WebPage</h1>
<hr>
<table border="2" style="width: 100%; text-align: center;">
<tr>
    <td><a [routerLink]="['home']">Home</a></td>
    <td><a [routerLink]="['contact']">Contact</a></td>
    <td><a [routerLink]="['about']">About Us</a></td>
    <td><a [routerLink]="['addproduct']">Add Product</a></td>
    <td><a [routerLink]="['displayproduct']">Display Products</a></td>
    <td><a [routerLink]="['addusers']">Add User</a></td>
    <td><a [routerLink]="['selectusers']">Select User</a></td>
    <td><a [routerLink]="['login']">Login User</a></td>

</tr>
</table>
<hr>
<router-outlet></router-outlet>
<hr>
<h6>@Sumit Vishwakarma</h6>